<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quizzy - Dashboard</title>
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/student-dashboard-style.css" />
  </head>
  <body>
    <nav class="flex w-full">
      <h1 class="logo">Quizzy</h1>
      <div class="right flex">
        <button class="btn btn-primary" id="mode">🌙</button>
        <button class="btn btn-primary" id="logout">Logout</button>
      </div>
    </nav>
    <main class="container dashboard-container flex flex-col">
      <!-- Welcome Message & Profile Picture -->
      <section class="card flex profile-section w-full">
        <div class="welcomeMessage">
          <h2>
            Welcome back, <span class="username">emma_lion</span>! 🎉 <br />
            Ready to become an animal expert?
          </h2>
        </div>
        <div class="profile-picture-container flex flex-col items-center">
          <div class="mt-4">
            <img
              src="../assets/profile-placeholder.png"
              alt="Profile Picture"
              id="profile-picture"
            />
          </div>
          <h2 class="mb-2"><span class="username">emma_lion</span></h2>
          <p class="mb-4 grade">Grade: 10th Grade</p>
        </div>
      </section>

      <!-- Progress section -->
      <section class="card progress-section w-full">
        <h2>Your <br />Progress</h2>
        <div class="flex progress-bar">
          <p class="card mb-2 flex flex-col items-center">
            <span class="icon">🏆</span>Quizzes Taken: <strong>5</strong>
          </p>
          <p class="card mb-2 flex flex-col items-center">
            <span class="icon">⭐</span>Average Score: <strong>80%</strong>
          </p>
        </div>
      </section>

      <hr />
      <!-- Available Quizzes Section -->
      <section>
        <div class="quiz-section flex flex-col">
          <h3 class="mb-4">📖 Your Assignments</h3>
          <ul class="quiz-list flex gap-4 w-full">
            <li class="quiz-item card flex flex-col gap-6">
              <img
                src="../assets/img-placeholder.jpg"
                alt="Quiz Image"
                class="quiz-img"
              />
              <span class="quiz-title">Quiz 1: Basic Math</span>
              <span class="quiz-duration">⏱️ 15 minutes</span>
              <span class="quiz-question-count">📖 15 questions</span>
              <button class="btn btn-primary btn-sm">Start Quiz</button>
            </li>
            <li class="quiz-item card flex flex-col gap-6">
              <img
                src="../assets/img-placeholder.jpg"
                alt="Quiz Image"
                class="quiz-img"
              />
              <span class="quiz-title">Quiz 1: Basic Math</span>
              <span class="quiz-duration">⏱️ 15 minutes</span>
              <span class="quiz-question-count">📖 15 questions</span>
              <button class="btn btn-primary btn-sm">Start Quiz</button>
            </li>
          </ul>
        </div>
      </section>
      <hr />
      <!-- Completed Quizzes Section -->
      <section>
        <div class="container done-quiz-section flex flex-col">
          <h3 class="mb-4">✅ Completed Quizzes</h3>
          <ul class="quiz-list flex gap-4 w-full">
            <li class="quiz-item card flex flex-col gap-6">
              <img
                src="../assets/img-placeholder.jpg"
                alt="Quiz Image"
                class="quiz-img"
              />
              <span class="quiz-title">Quiz 1: Basic Math</span>
              <span class="quiz-score">87%</span>
              <span class="quiz-date">Completed 12/10/2025</span>
            </li>
            <li class="quiz-item card flex flex-col gap-6">
              <img
                src="../assets/img-placeholder.jpg"
                alt="Quiz Image"
                class="quiz-img"
              />
              <span class="quiz-title">Quiz 1: Basic Math</span>
              <span class="quiz-score">87%</span>
              <span class="quiz-date">Completed 12/10/2025</span>
            </li>
          </ul>
        </div>
      </section>
    </main>
    <script type="module" src="../scripts/app.js"></script>
  </body>
</html>
