<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzy - Dashboard</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/studentDashboardStyle.css">
</head>
<body>
    <nav class="flex w-full">
        <h1 class="logo">Quizzy</h1>
        <div class="right">
            <button class="btn btn-outline btn-icon" id="mode">
                🌙
            </button>
            <button class="btn btn-outline" id="logout">
                Logout
            </button>
        </div>
    </nav>
    <main class="dashboard-container flex flex-column align-center">
        
    </main>
</body>
</html>