@import "./main.css";

html,
body {
  height: fit-content !important;
  overflow: auto !important;
}

nav {
  background-color: var(--primary);
  padding: 1rem 2rem;
  box-shadow: var(--shadow);
  justify-content: space-between;
  color: white;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.btn-primary {
  border: 1px solid var(--border-color) !important;
}

.btn-primary:hover:not(:disabled) {
  border-color: transparent !important;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.greeting-massage {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  width: 40%;
  background-color: var(--primary);
  color: white;
  padding: 3rem;
  height: 30vh;
  justify-content: center;
  padding-top: 1.2rem;
}

.result-section {
  margin-top: 1rem;
  width: 40%;
  font-size: 1.7rem;
  min-width: fit-content;
  height: fit-content;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: var(--shadow);
  text-align: center;
  height: 50vh;
  justify-content: center;
}

.quiz-score {
  font-size: 3rem;
  color: var(--primary);
}

.score-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  font-weight: bold;
  font-size: 2rem;
  width: 110%;
}
